/* Réinitialisation de la marge et de la police de caractères */
body, h1, h2, h3, p, ul, li, form, input, select {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style pour le corps de la page */
body {
    background-color: #f4f4f4;
    font-size: 16px;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titre de la page */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style pour la liste des utilisateurs */
ul {
    list-style: none;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

/* Style pour les images d'avatar */
img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-top: 5px;
}

/* Style pour les lignes de séparation */
hr {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Style pour les formulaires */
form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    height: 40px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Liens de déconnexion */
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
